<main class="cookie">
    <div class="tartabilbil"></div>
    <article>
        <h1>Biltårtahjul</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in est tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ac est ac nulla commodo porttitor. Donec porta congue tortor, ut dignissim felis hendrerit at. Nulla eleifend dignissim pellentesque. Donec eget nisi nec justo vulputate faucibus a in ipsum. Maecenas tempus risus lectus, quis vehicula dolor ultricies nec.</p>
        <button>Betygsätt</button>
        <button>Lägg till i kundvagn</button>
        <p>Kundrecensioner: 1/-1 "Bilar som hjul fungerar bättre än förväntat."</p>
    </article>
</main>