<main class="index">
    <img src="" alt="">
    <div class="galleri">
        <div class="img1"><a href="img1.html"><span></span></a></div>
        <div class="img2"><a href="img2.html"><span></span></a></div>
        <div class="img3"></div>
        <div class="img4"></div>
        <div class="img5"></div>
        <div class="img6"></div>
        <div class="img7"></div>
        <div class="img8"></div>
        <div class="img9"></div>
        <div class="img10"></div>
        <div class="img11"><a href="img11.html"><span></span></a></div>
        <div class="img12"></div>
    </div>
    <button>Nästa sida</button>
</main>