<main class="login">
    <div class="login">
        <i class="material-icons">account_circle</i>
        <input type="text" placeholder="Användarnamn">
        <input type="password" placeholder="Lösenord">
        <button>Logga in</button>
        <a href=""><p>Skapa konto</p></a>
    </div>
</main>