main.cookie {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
}

main.cookie > article > h1 {
    text-decoration: underline;
}

div.appelpajbil {
    grid-template-rows: 1/2;
    background-image: url("../img/Appelpajbilmobil.png");
    background-size: cover;
    height: 132px;

}

div.blabarsmuffinsbil {
    grid-template-rows: 1/2;
    background-image: url("../img/Blabarsmuffinsbilmobil.png");
    background-size: cover;
    height: 132px;

}

div.tartabilbil {
    grid-template-rows: 1/2;
    background-image: url("../img/Tartabilbilmobil.png");
    background-size: cover;
    height: 132px;

}

main.cookie > article {
    grid-template-rows: 2/3;
}


@media only screen and (min-device-width: 1025px) {
    main.cookie {
        grid-template-columns: repeat(2, 1fr);
        height: 90vh;
    }

    div.appelpajbil {
        background-image: url("../img/Appelpajbil.png");
        height: 50vh;
    }

    div.blabarsmuffinsbil {
        background-image: url("../img/Blabarsmuffinsbil.png");
        height: 50vh;

    }

    div.tartabilbil {
        background-image: url("../img/Tartabilbil.png");
        height: 50vh;
    }

    main.ccokie > article {
        grid-template-rows: 2/3;
        grid-template-columns: 2/3;
    }
}