main.login {
    height: 90vh;
}

main.login > i.material-icons {
    width: 100vw;
    text-align: center;
    font-size: 150px;
}

input {
    font-size: 25px;
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

main.login > button {
    font-size: 25px;
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

main.login > a{
    width: auto;
    text-align: center;
}

@media only screen and (min-device-width: 1025px) {
    main.login {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    main.login > i.material-icons {
        width: auto;
        grid-column: 3/4;
        grid-row: 1/3;
    }

    input {
        width: auto;
        grid-column: 2/3;
        grid-row: span 1;
        height: 30px;
    }

    main.login > button {
        width: auto;
        grid-column: 2/3;
        grid-row: 3/4;
        height: 40px;
    }

    main.login > a {
        grid-column: 2/4;
        grid-row: 4/5;
    }
}