.menu {
    width: 0px;
    height: 100vh;
    background-color: gray;
    position: absolute;
    -webkit-transition:width 50ms ease-in;
    -moz-transition:width 50ms ease-in;
    -o-transition:width 50ms ease-in;
    transition:width 50ms ease-in;
}

.menu > ul {
    display: none; 
}

.menu.show > ul {
    display: block;
}

.menu > i {
    display: none;
}

.menu.show > i {
    display: block;
}

.link:hover {
    font-size: 24px;
    transition: 0.2s;
    text-decoration: underline;
}

.link {
    font-size: 18px;
    transition: 0.2s;
    text-decoration: none;
}

.menu.show {
    width: 60vw;
    -webkit-transition:width 50ms ease-in;
    -moz-transition:width 50ms ease-in;
    -o-transition:width 50ms ease-in;
    transition:width 50ms ease-in;
}

@media only screen and (min-device-width: 740px) {
    .menu.show {
        width: 20vw;
    }
}