.menu {
    width: 0px;
    height: 100vh;
    background-color: gray;
    position: absolute;
    -webkit-transition:width 100ms ease-in;
    -moz-transition:width 100ms ease-in;
    -o-transition:width 100ms ease-in;
    transition:width 100ms ease-in;
}

.menu > a, .menu > i.material_icons{
    display: none;
    
}

.menu.show > a, .menu > i.material_icons{
    display: block;
}

.menu.show {
    width: 60vw;
    -webkit-transition:width 100ms ease-in;
    -moz-transition:width 100ms ease-in;
    -o-transition:width 100ms ease-in;
    transition:width 100ms ease-in;
}

@media only screen and (min-device-width: 740px) {
    .menu.show {
        width: 40vw;
    }
}