header {
  height: 5vh;
  background-color: aqua; }

footer {
  height: 5vh;
  background-color: aqua; }

.menu {
  width: 0px;
  height: 100vh;
  background-color: gray;
  position: absolute;
  -webkit-transition: width 100ms ease-in;
  -moz-transition: width 100ms ease-in;
  -o-transition: width 100ms ease-in;
  transition: width 100ms ease-in; }

.menu > a, .menu > i.material_icons {
  display: none; }

.menu.show > a, .menu > i.material_icons {
  display: block; }

.menu.show {
  width: 60vw;
  -webkit-transition: width 100ms ease-in;
  -moz-transition: width 100ms ease-in;
  -o-transition: width 100ms ease-in;
  transition: width 100ms ease-in; }

@media only screen and (min-device-width: 740px) {
  .menu.show {
    width: 40vw; } }
main.index {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr); }

main.index > button {
  grid-row: 8/9;
  grid-column: 2/3; }

main.index > img {
  grid-row: 1/2;
  grid-column: span 2; }

@media only screen and (min-device-width: 1025px) {
  main.index {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr); }

  main.index > button {
    grid-row: 5/6;
    grid-column: 4/5; }

  main.index > img {
    grid-row: 1/2;
    grid-column: span 4; } }
@media only screen and (min-device-width: 740px) {
  main.index {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr); }

  main.index > button {
    grid-row: 6/7;
    grid-column: 3/4; }

  main.index > img {
    grid-row: 1/2;
    grid-column: span 3; } }
