.menu {
  width: 40vw;
  height: 0px;
  background-color: gray;
  position: absolute;
  -webkit-transition: height 200ms ease-in;
  -moz-transition: height 200ms ease-in;
  -o-transition: height 200ms ease-in;
  transition: height 200ms ease-in; }

.menu > a, .menu > i.material_icons {
  display: none; }

.menu.show > a, .menu > i.material_icons {
  display: block; }

.menu.show {
  height: 90vh;
  -webkit-transition: height 200ms ease-in;
  -moz-transition: height 200ms ease-in;
  -o-transition: height 200ms ease-in;
  transition: height 200ms ease-in; }
